@model Post

<div class="col">
    <div class="card shadow-sm">
        <a href="/Categories/Index/@Model.CategoryId">
            <img src="/img/@Model.Image" alt="@Model.Title" title="@Model.Title" class="img-fluid" />
        </a>
        <div class="card-body">
            <h3 class="card-text">@Model.Title</h3>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">@String.Format("{0:d}",Model.CreateDate)</small>
            </div>
        </div>
    </div>
</div>