@model Category
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Posts)
            {
                if (item.IsActive)
                {
                     @await Html.PartialAsync("_PostPartial",item)
                }
              
            }

        </div>
    </div>
</div>


                            @*<a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Categories" asp-action="Details" asp-route-id=@item.Id>Detay</a>*@